<!-- _navbar.html.erb -->
<div class="navbar">
  <%= link_to root_path do %>
    <i class="fa fa-glass-martini" aria-hidden="true"></i>
  <% end %>
  <h2>Ragabash Cocktails</h2>
  <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-info" %>
</div>
